#FloorPlan {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#livingRoom {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

#bath {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

#oven {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

#sink {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}